button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: xx-large;
    border-radius: 10%;
}

.calculator {
    background-color: black;
    border: 10px solid black;
    border-radius: 2%;
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 3px;
}

.screen {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    grid-column: 1 / 5;
    font-size: 70px;
    font-weight: bold;
    justify-self: end;
    align-self: end;
}

.zero {
    grid-column: 1 / 3;
}

.operator {
    background-color: #606060;
}

.equal {
    background-color: #606060;
}

.else {
    background-color: #939393;
}